<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <style>
        body {
          background-image: url('../public/images/gray.jpeg');
        }
    </style>

    <div>

        <header id="page_header" class="page_header">
            
            <nav id="nav_bar_responsive" class="nav_bar"> 
                <menu class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="./movies">Movies</a></li>
                        <li><a href="./series">Series</a></li>
                        <li><a href="./suggestion">Suggestions</a></li>
                    </ul>
                </menu>
            </nav>
            <h1> Salena's Favorites </h1>
        </header>
    </div>

    <h2 id="front">Welcome to my webpage. <br>You will be able to see a list of my favorite movies and shows!</h2>

    <h3 class="film">
        <img src="../public/images/movie.png" class="film">
    </h3>

    <div class="log-form">
        <h2>Login to your account</h2>
        <form>
          <input type="text" title="username" placeholder="username" /><br>
          <input type="password" title="username" placeholder="password" /><br>
          <button type="submit" class="btn">Login</button>
        </form>
      </div>

</body>
</html>