<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <style>
        body {
          background-image: url('../public/images/gray.jpeg');
        }
    </style>
    <div>

        <header id="page_header" class="page_header">
            
            <nav id="nav_bar_responsive" class="nav_bar"> 
                <menu class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="./movies">Movies</a></li>
                        <li><a href="./series">Series</a></li>
                        <li><a href="./suggestion">Suggestions</a></li>
                    </ul>
                </menu>
            </nav>

            <section id="genre">
                <a href= "#comedy"><span>Comedy</span></a>
                <a href = "#drama"><span>Drama</span></a>
                <a href = "#action"><span>Action</span></a>
                <a href = "#thriller"><span>Thriller</span></a>
                <a href = "#crime"><span>Crime</span></a>
                <a href = "#family"><span>Family</span></a>
            </section>
    
    <main>
        <section id ="comedy">
            <h2>Comedy</h2>
            <a href="./homealone"><img src="../public/images/homealone.jpg" alt="Home Alone Movie Cover" width=250 height=400></a>
            <a href="./21"><img src="../public/images/21jump.jpg" alt="21 Jump Street Movie Cover" width=250 height=400></a>
        </section>

        <section id ="drama">
            <h2>Drama</h2>
            <a href="./greatestshowman"><img src="../public/images/thegreatestshowman.jpg" alt="The Greatest Showman Movie Cover" width=250 height=400></a>
            <a href="./lastsong"><img src="../public/images/lastsong.jpg" alt="The Last Song Movie Cover" width=250 height=400></a>
        </section>

        <section id ="action">
            <h2>Action</h2>
            <a href="./f9"><img src="../public/images/f9.jpg" alt="F9 Movie Cover" width=250 height=400></a>
            <a href="./spiderman"><img src="../public/images/spiderman.jpg" alt="Spiderman:Homecoming Movie Cover" width=250 height=400></a>
            <a href="./jumanji"><img src="../public/images/jumanji.jpg" alt="Jumanji:Welcome to the Jungle Movie Cover" width=250 height=400></a>
        </section>

        <section id ="thriller">
            <h2>Thriller</h2>
            <a href="./hkills"><img src="../public/images/halloween.jpg" alt="Halloween Kills Movie Cover" width=250 height=400></a>
        </section>

        <section id ="crime">
            <h2>Crime</h2>
            <a href="./nerve"><img src="../public/images/nerve.jpg" alt="Nerve Movie Cover" width=250 height=400></a>
        </section>

        <section id ="family">
            <h2>Family</h2>
            <a href="./cinderella"><img src="../public/images/AAnotherCinderellaStory.jpg" alt="Another Cinderella Story Movie Cover" width=250 height=400></a>
        </section>

    </main>
    <hr>
    <footer>
        <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
            <i class="fas fa-envelope"></i>
        </a>
        <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
        <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
        <div class="footer_name"> &copy;Salena Youhana, 2021 </div>
    
        
    </footer>
</body>
</html>