<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="file:///Users/salenayouhana/Downloads/favicon_io/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/styles.css">
    
</head>
<body>
    <style>
        body {
          background-image: url('../public/images/gray.jpeg');
        }
    </style>
    <div>

        <header id="page_header" class="page_header">
            
            <nav id="nav_bar_responsive" class="nav_bar"> 
                <menu class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="./movies">Movies</a></li>
                        <li><a href="./series">Series</a></li>
                        <li><a href="./suggestion">Suggestions</a></li>
                    </ul>
                </menu>
            </nav>

            <h1>Please leave a comment with any Movies or Series Suggestions! Or provide any feedback below.</h1>

    <body>
        <div class="container">
            <label for="comment" name="comment">LEAVE A COMMENT</label>
            <textarea id="comment"></textarea>
            <button id="addComments">Submit</button>
            <div id="allComments"></div>
        </div>
        </body>

<script src="../public/js/comment.js"></script>
</body>
</html>